personography.rnc

start = persons
persons = element persons {person+}
person = element person {id, gender, backg, chinese, kinship*, empty}
id = attribute xml:id {xsd:ID}
gender= attribute gender {"m"|"f"}
backg = attribute backg {"mili"|"court_off"|"prov_off"|"poet"|"emperor"|"rf"|"daoism"|"buddhism"|"uc"|"l_off"|"arist"|"japan"|"common"|"yingshi"}
chinese = attribute chinese {text}
kinship = attribute kinship {text}